<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Llamamos a nuestra carpeta de estilos-->
    <link rel="stylesheet" href="../static/css/estilos.css">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</head>
<!--En el cuerpo llamamos a la función que inicia el juego-->

<body onload="startGame()">
    <!--Agregamos un blockquote-->
    <br>
    <div class="container">
        <figure class="text-center mb-0">
            <blockquote class="blockquote">
                <p class="pb-3">
                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                    <h2 id="sobrenosotros">Block Jumper Game</h2>
                    <span class="lead font-italic">Block Jumper es un interesante juego de salto. En este juego, tienes
                        que ayudar a un bloque con a saltar al cielo sin que tope los obstáculos.</span>
                    <i class="fas fa-quote-right fa-xs text-primary"></i>
                </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
                Mercy Arrobo
            </figcaption>
        </figure>
    </div>

    <!--Llamamos a nuestra carpeta dónde se encuentran las funciones-->
    <script src="../static/js/saltobloques.js"></script>
</body>

</html>